<!DOCTYPE html>
<html ng-app="rentacar-angular">
<head lang="en">
<meta charset="UTF-8">
<title>login</title>

<head>
<style type="text/css">
form {
	margin-top: 10% !important;
	text-align: center;
	max-width: 720px;
	width: 100%;
	margin: 0 auto;
}
.form-group {
    max-width: 300px;
    /* text-align: center; */
    margin: 0 auto;
    margin-bottom: 15px;
}
</style>
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
				<a class="navbar-brand" href="/rentacar-angular/#/adaugareAdmin">Adaugare admin</a>
				<a class="navbar-brand" href="/rentacar-angular/#/stergereAdmin">Stergere admin</a>
				<a class="navbar-brand" href="/rentacar-angular/#/adaugareMasina">Adaugare masina</a>
				<a class="navbar-brand" href="/rentacar-angular/#/stergereMasina">Stergere masina</a>
				<a class="navbar-brand" href="/rentacar-angular/#/trimitereNewsletter">Trimitere newsletter</a>
				<a class="navbar-brand" href="/rentacar-angular/#/">Pagina de pornire</a>
				</div>
			</div>
	</div>
<div ng-controller="AdaugareMasinaController">  
<div ng-show="error" class="alert alert-danger">{{error}}</div>
<form name="form" ng-submit="adaugaMasina()" role="form">
    <div class="form-group">
        <label for="marca">marca</label>
        <i class="fa fa-key"></i>
        <input type="text" name="marca" id="marca" class="form-control" ng-model="marca" required />
        <span ng-show="form.marca.$dirty && form.marca.$error.required" class="help-block">marca is required</span>
    </div>
    <div class="form-group">
        <label for="model">model</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="model" id="model" class="form-control" ng-model="model" required />
        <span ng-show="form.model.$dirty && form.model.$error.required" class="help-block">model is required</span>
    </div>
    <div class="form-group">
        <label for="anFabricatie">anFabricatie</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="anFabricatie" id="anFabricatie" class="form-control" ng-model="anFabricatie" required />
        <span ng-show="form.anFabricatie.$dirty && form.anFabricatie.$error.required" class="help-block">anFabricatie is required</span>
    </div>
    <div class="form-group">
        <label for="tipCombustibil">tipCombustibil</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="tipCombustibil" id="tipCombustibil" class="form-control" ng-model="tipCombustibil" required />
        <span ng-show="form.tipCombustibil.$dirty && form.tipCombustibil.$error.required" class="help-block">tipCombustibil is required</span>
    </div>
    <div class="form-group">
        <label for="consumMediu">consumMediu</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="consumMediu" id="consumMediu" class="form-control" ng-model="consumMediu" required />
        <span ng-show="form.consumMediu.$dirty && form.consumMediu.$error.required" class="help-block">consumMediu is required</span>
    </div>
    <div class="form-group">
        <label for="caiPutere">caiPutere</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="caiPutere" id="caiPutere" class="form-control" ng-model="caiPutere" required />
        <span ng-show="form.caiPutere.$dirty && form.caiPutere.$error.required" class="help-block">caiPutere is required</span>
    </div>
    <div class="form-group">
        <label for="nrInmatriculare">nrInmatriculare</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="nrInmatriculare" id="nrInmatriculare" class="form-control" ng-model="nrInmatriculare" required />
        <span ng-show="form.nrInmatriculare.$dirty && form.nrInmatriculare.$error.required" class="help-block">nrInmatriculare is required</span>
    </div>
    <div class="form-group">
        <label for="nrLocuri">nrLocuri</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="nrLocuri" id="nrLocuri" class="form-control" ng-model="nrLocuri" required />
        <span ng-show="form.nrLocuri.$dirty && form.nrLocuri.$error.required" class="help-block">nrLocuri is required</span>
    </div>
    <div class="form-group">
        <label for="pretInchiriere">pretInchiriere</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="pretInchiriere" id="pretInchiriere" class="form-control" ng-model="pretInchiriere" required />
        <span ng-show="form.pretInchiriere.$dirty && form.pretInchiriere.$error.required" class="help-block">pretInchiriere is required</span>
    </div>
    <div class="form-group">
        <label for="statusMasina">statusMasina</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="statusMasina" id="statusMasina" class="form-control" ng-model="statusMasina" required />
        <span ng-show="form.statusMasina.$dirty && form.statusMasina.$error.required" class="help-block">statusMasina is required</span>
    </div>
    <div class="form-group">
        <label for="timpMinimInchiriere">timpMinimInchiriere</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="timpMinimInchiriere" id="timpMinimInchiriere" class="form-control" ng-model="timpMinimInchiriere" required />
        <span ng-show="form.timpMinimInchiriere.$dirty && form.timpMinimInchiriere.$error.required" class="help-block">timpMinimInchiriere is required</span>
    </div>
    <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Adauga masina</button>
        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </div>
</form>
</div>
</body>
</html>
