<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
	<a class="navbar-brand" href="/rentacar-angular/#/adaugareAdmin">Adaugare admin</a>
				<a class="navbar-brand" href="/rentacar-angular/#/stergereAdmin">Stergere admin</a>
				<a class="navbar-brand" href="/rentacar-angular/#/adaugareMasina">Adaugare masina</a>
				<a class="navbar-brand" href="/rentacar-angular/#/stergereMasina">Stergere masina</a>
				<a class="navbar-brand" href="/rentacar-angular/#/trimitereNewsletter">Trimitere newsletter</a>
			</div>
		</div>
	</div>
	<br />
	<br />
	<br />
	<br />
<div>
<h2>Sterge un admin</h2>
	<div ng-if="admin.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="admin.length > 0">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Email</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="admin in admin">
					<td>{{admin.id}}</td>
					<td>{{admin.email}}</td>
					<td><a class="btn btn-primary" href="#/stergeAdmin/{{admin.id}}">Sterge admin</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
