<div>
	<h2>Utilizatorii</h2>

	<div ng-if="utilizatori.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="utilizatori.length > 0">
	<p>aici</p>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Email</th>
					<th>Rol</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="utilizatori in utilizatori">
					<td>{{utilizatori.email}}</td>
					<td>{{utilizatori.rol}}</td>
					<td><a class="btn btn-primary" href="#/utilizatori/{{utilizatori.id}}">Details</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
