<div>
	<h2>Istoric Mesaje</h2>

	<div ng-if="istoricMesaje.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="istoricMesaje.length > 0">
	<p>aici</p>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>mesaj</th>
					<th>data trimiterii</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="istoricMesaje in istoricMesaje">
					<td>{{istoricMesaje.mesaj}}</td>
					<td>{{istoricMesaje.datatrimitere}}</td>
					<td><a class="btn btn-primary" href="#/istoricMesaje/{{istoricMesaje.id}}">Details</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
