 <!DOCTYPE html>
<html ng-app="rentacar-angular">
<head lang="en">
<meta charset="UTF-8">
<title>Rent a car</title>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet">
</head>

<body ng-app="rentacar-angular">
<div ng-controller="LoginController">  
        <form name="loginform" form action="" method="POST" dynamic-form-action="customAction">  
            <div style="color:green">{{message}}</div>  
            <table>  
                <tr>  
                    <td>User Name</td>  
                    <td><input type="text" ng-model="Email" name="Email" /></td>  
                </tr>  
                <tr>  
                    <td>Password</td>  
                    <td><input type="text" ng-model="Password" name="Password" /></td>  
                </tr>  
                <tr>  
                    <td></td>  
                    <td><input type="submit" />Buton</td>  
                </tr>  
            </table>  
        </form>  
    </div> 

	<div class="container">
		<div ng-view=""></div>
	</div>
	
<!-- LIBS -->
	<script src="assets/js/angular.min.js"></script>
	<script src="assets/js/angular-route.min.js"></script>

	<!-- APP -->
	<script src="app/config/app.js"></script>
	<script src="app/config/config.js"></script>
	
	<!-- CONTROLLERS -->
	<script src="app/controllers/navControllers.js"></script>
	<script src="app/controllers/istoricMesajeController.js"></script>
	<script src="app/controllers/utilizatoriController.js"></script>
	<script src="app/controllers/loginController.js"></script>
	
	<!-- SERVICES -->
	<script src="app/services/istoricMesajeService.js"></script>
	<script src="app/services/utilizatoriService.js"></script>
</body>
</html>

	
