<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
			<a class="navbar-brand" href="/rentacar-angular/#/client">Client</a>
				<a class="navbar-brand" href="/rentacar-angular/#/admin">Admin</a>
			</div>
		</div>
	</div>
	<br />
	<br />
	<br />
	<br />
<div>
<h2>Vezi masinile din parcul nostru auto!</h2>
	<div ng-if="masini.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="masini.length > 0">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Marca</th>
					<th>Model</th>
					<th>An fabricatie</th>
					<th>Status in acest moment</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="masini in masini">
					<td>{{masini.marca}}</td>
					<td>{{masini.model}}</td>
					<td>{{masini.anFabricatie}}</td>
					<td>{{masini.statusMasina}}</td>
					<td><a class="btn btn-primary" href="#/masini/{{masini.id}}">Detalii</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
