<!DOCTYPE html>
<html ng-app="rentacar-angular">
<head lang="en">
<meta charset="UTF-8">
<title>login</title>

<head>
<style type="text/css">
form {
	margin-top: 10% !important;
	text-align: center;
	max-width: 720px;
	width: 100%;
	margin: 0 auto;
}
.form-group {
    max-width: 300px;
    /* text-align: center; */
    margin: 0 auto;
    margin-bottom: 15px;
}
</style>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
				<a class="navbar-brand" href="/rentacar-angular/#/inchiriereMasina">Inchiriere Masina</a>
				<a class="navbar-brand" href="/rentacar-angular/#/ratingMasina">Rating masina</a>
			    <a class="navbar-brand" href="/rentacar-angular/#/registerClient">Inregistrare client nou</a>
			    <a class="navbar-brand" href="/rentacar-angular/#/">Pagina de pornire</a>
				</div>
			</div>
	</div>
	</br>
	</br>
	</br>
	</br>
<div ng-controller="AdaugaInchiriereController">  
<div ng-show="error" class="alert alert-danger">{{error}}</div>
<form name="form" ng-submit="inchiriere()" role="form">
     <div class="form-group">
        <label for="dataStart">Data start</label>
        <i class="fa fa-key"></i>
        <input type="datetime-local" name="dataStart" id="dataStart" class="form-control" ng-model="dataStart" required />
        <span ng-show="form.dataStart.$dirty && form.dataStart.$error.required" class="help-block">dataStart is required</span>
    </div>
      <div class="form-group">
        <label for="dataStop">dataStop</label>
        <i class="fa fa-lock"></i>
        <input type="datetime-local" name="dataStop" id="dataStop" class="form-control" ng-model="dataStop" required />
        <span ng-show="form.dataStop.$dirty && form.dataStop.$error.required" class="help-block">dataStop is required</span>
    </div>
    <div class="form-group">
        <label for="numeLocatieRidicare">numeLocatieRidicare</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="numeLocatieRidicare" id="numeLocatieRidicare" class="form-control" ng-model="numeLocatieRidicare" required />
        <span ng-show="form.numeLocatieRidicare.$dirty && form.numeLocatieRidicare.$error.required" class="help-block">numeLocatieRidicare is required</span>
    </div>
    <!-- <div class="form-group">
        <label for="judetLocatieRidicare">judetLocatieRidicare</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="judetLocatieRidicare" id="judetLocatieRidicare" class="form-control" ng-model="judetLocatieRidicare" required />
        <span ng-show="form.judetLocatieRidicare.$dirty && form.judetLocatieRidicare.$error.required" class="help-block">judetLocatieRidicare is required</span>
    </div>
    <div class="form-group">
        <label for="latitudineLocatieRidicare">latitudineLocatieRidicare</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="latitudineLocatieRidicare" id="latitudineLocatieRidicare" class="form-control" ng-model="latitudineLocatieRidicare" required />
        <span ng-show="form.latitudineLocatieRidicare.$dirty && form.latitudineLocatieRidicare.$error.required" class="help-block">latitudineLocatieRidicare is required</span>
    </div>
    <div class="form-group">
        <label for="longitudineLocatieRidicare">longitudineLocatieRidicare</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="longitudineLocatieRidicare" id="longitudineLocatieRidicare" class="form-control" ng-model="longitudineLocatieRidicare" required />
        <span ng-show="form.longitudineLocatieRidicare.$dirty && form.longitudineLocatieRidicare.$error.required" class="help-block">longitudineLocatieRidicare is required</span>
    </div>-->
    <div class="form-group">
        <label for="numeLocatiePredare">numeLocatiePredare</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="numeLocatiePredare" id="numeLocatiePredare" class="form-control" ng-model="numeLocatiePredare" required />
        <span ng-show="form.numeLocatiePredare.$dirty && form.numeLocatiePredare.$error.required" class="help-block">numeLocatiePredare is required</span>
    </div>
    <!--  
    <div class="form-group">
        <label for="judetLocatiePredare">judetLocatiePredare</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="judetLocatiePredare" id="judetLocatiePredare" class="form-control" ng-model="judetLocatiePredare" required />
        <span ng-show="form.judetLocatiePredare.$dirty && form.judetLocatiePredare.$error.required" class="help-block">judetLocatiePredare is required</span>
    </div>
    <div class="form-group">
        <label for="latitudineLocatiePredare">latitudineLocatiePredare</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="latitudineLocatiePredare" id="latitudineLocatiePredare" class="form-control" ng-model="latitudineLocatiePredare" required />
        <span ng-show="form.latitudineLocatiePredare.$dirty && form.latitudineLocatiePredare.$error.required" class="help-block">latitudineLocatiePredare is required</span>
    </div>
    <div class="form-group">
        <label for="longitudineLocatiePredare">longitudineLocatiePredare</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="longitudineLocatiePredare" id="longitudineLocatiePredare" class="form-control" ng-model="longitudineLocatiePredare" required />
        <span ng-show="form.longitudineLocatiePredare.$dirty && form.longitudineLocatiePredare.$error.required" class="help-block">longitudineLocatiePredare is required</span>
    </div>-->
    <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Inchiriaza</button>
        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </div>
</form>
</div>
</body>
</html>