	<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
				<a class="navbar-brand" href="/rentacar-angular/#/inchiriereMasina">Inchiriere Masina</a>
				<a class="navbar-brand" href="/rentacar-angular/#/ratingMasina">Rating masina</a>
			    <a class="navbar-brand" href="/rentacar-angular/#/registerClient">Inregistrare client nou</a>
			    <a class="navbar-brand" href="/rentacar-angular/#/">Pagina de pornire</a>
				</div>
			</div>
	</div>
	</br>
	</br>
	</br>
	</br>
<div>
<h2>Alege o masina spre inchiriere</h2>
	<div ng-if="masini.length == 0">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>

	<div ng-if="masini.length > 0">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Marca</th>
					<th>Model</th>
					<th>An fabricatie</th>
					<th>Status in acest moment</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="masini in masini">
					<td>{{masini.marca}}</td>
					<td>{{masini.model}}</td>
					<td>{{masini.anFabricatie}}</td>
					<td>{{masini.statusMasina}}</td>
					<td><a class="btn btn-primary" href="#/inchiriereMasina/masini/{{masini.id}}">Detalii</a></td>
					<td><a class="btn btn-primary" href="#/inchiriereMasina/inchiriaza/{{masini.id}}">Inchiriaza masina</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
