<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
				<a class="navbar-brand" href="/rentacar-angular/#/inchiriereMasina">inchiriereMasina</a>
				<a class="navbar-brand" href="/rentacar-angular/#/ratingMasina">Rating masina</a>
			    <a class="navbar-brand" href="/rentacar-angular/#/registerClient">Inregistrare client nou</a>
			    <a class="navbar-brand" href="/rentacar-angular/#/">Pagina de pornire</a>
				</div>
			</div>
	</div>
	</br>
	</br>
	</br>
	</br>
<div>
<br>
<br>
<br>
	<h2>Detalii Masina </h2>
	
	<p><label>Tip combustibil</label> {{masini.tipCombustibil}} </p>
	<p><label>Consum mediu</label> {{masini.consumMediu}} </p>
	<p><label>Cai putere</label> {{masini.caiPutere}} </p>
	<p><label>Numar inmatriculare</label> {{masini.nrInmatriculare}} </p>
	<p><label>Numar locuri</label> {{masini.nrLocuri}} </p>
	<p><label>Pret inchiriere</label> {{masini.pretInchiriere}} </p>
	<p><label>Timp minim de inchiriere(ore)</label> {{masini.timpMinimInchiriere}} </p>
</div>
</body>
</html>